<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="conexion" value="Data Source=APLLAP;Initial Catalog=RWALAMEDA;User ID=sa;Password=masterkey"/>
    <add key="Inicio" value="0"/>
    <add key="Fin" value="0"/>
    <add key="status" value="False"/>
    <add key="Tiempo" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
